@import "tailwindcss";

* {
    font-family: 'Poppins', sans-serif;
}


/* Day/Night Mode */
.night-mode {
    background-color: #171717; 
    color: #eee;
}

.night-mode .bg-white {
    background-color: #2c2c2c ; 
    box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1), 0 1px 2px 0 rgba(255, 255, 255, 0.06);
}

.night-mode .text-gray-800 {
    color: #d1d5db; 
}

.night-mode .text-gray-600 {
    color: #a1a1aa; 
}

.night-mode .bg-stone-100 {
    background-color: #171717 ; 
}

.night-mode .gradient span {
    color: #eee;
}
.night-mode .text-zinc-900 {
    color: #eee;
    
}

.night-mode .download-btn {
    border-color: #eee;
}

.night-mode .skill-item {
    background-color: #353535; 
    box-shadow: none; 
}
.night-mode .skill-title,
.night-mode .skill-percentage {
    color: #eee; 
}
.night-mode .skill-icon-bg {
    background-color: #870000; 
    color: #fca5a5; 
}


/* home section */
.font-hero {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.hero-bg {
    background-image: url('https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=1920&h=1080&fit=crop');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* about section */
.about-img {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.about-heading {
    letter-spacing: 7px;
    opacity: 0;
    transform: scaleY(3.8);
    background: rgb(240, 0, 0);
}

.about-paragraph {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.about-content:hover .about-img,
.about-content .about-heading,
.about-content:hover .about-paragraph {
    opacity: 1;
    transform: translateY(0) translateY(0);
}

/* media queries */
@media (max-width: 768px) {
    .hh-headings-wrapper h2 {
        font-size: 3.8rem;
        line-height: 0.8;   
    }

    .hero-bg {
        height: 170px;
    }

    .profile-image {
        width: 200px;
        height: 200px;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .headings-profile-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .about-content {
        flex-direction: column;
    }

    .about-image {
        max-width: 100%;
    }

    .about-heading {
        font-size: 3rem;
    }

    .about-paragraph {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .hh-headings-wrapper h2 {
        font-size: 2.6rem;
        line-height: 32px;
    }

    .hero-bg {
        height: 120px;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }
    .about-image img {
        max-width: 300px;
        height: 300px;
    }

    .about-heading {
        font-size: 2.5rem;
    }
}









